/* @import "tailwindcss";

@layer base {
  html {
    @apply text-white;
  }
}

@theme {
  --color-primary-600: oklch(14.7% 0.004 49.25);
  --color-secondary-300: oklch(37.4% 0.01 67.558);
}

body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
} */
